<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<!--<add name="MacgridDB" connectionString="Data Source=DESKTOP-9H2MGIB;Initial Catalog=Macgrid15TTDB;Integrated Security=True; " />

		<add name="CustomerDB" connectionString="Data Source=DESKTOP-9H2MGIB;Initial Catalog=TTDB;Integrated Security=True" />

		<add name="MacgridDB" connectionString="Data Source=./;Initial Catalog=Macgrid15TTDB;Integrated Security=True; " />

		<add name="CustomerDB" connectionString="Data Source=./;Initial Catalog=TTDB;Integrated Security=True" />-->
	</connectionStrings>
	<!--<appSettings>	
		<add key="FileGeneratePath" value="C:\Customer\JCI\"/>
		<add key="FileFormat" value="DIFC Meters_Final_"/>
		<add key="CustomerID" value="1"/>
	</appSettings>-->
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>